ENVIRONMENT=''
DATABASE_NAME=''
DATABASE_PASSWORD=''
DATABASE_USER=''
DATABASE_HOST=''
KEYCLOAK_SERVER_URL=''
KEYCLOAK_USER=''
KEYCLOAK_PASSWORD=''
KEYCLOAK_CLIENT_ID=''
KEYCLOAK_REALM=''
KEYCLOAK_SECRET=''